@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@900&family=Roboto:wght@100;300;400;500;900&display=swap");

html,
body,
label {
  font-family: "Roboto", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg-nite {
  background: rgb(26, 55, 67);
  background: linear-gradient(
    135deg,
    rgba(26, 55, 67, 1) 0%,
    rgba(0, 26, 37, 1) 0%,
    rgba(26, 55, 67, 1) 100%
  );
}
